<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Overview</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="60" comments="bpm" colour="green"></stats>
        <stats number="120/60" comments="mmHg" colour="red"></stats>
        <stats number="37" comments="C" colour="primary"></stats>


        <div class="col-lg-8 col-sm-12" id="line-chart" ng-controller="Vitals">
        <div class="panel panel-default">
            <div class="panel-heading">Vitals</div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                click="line.onClick" series="line.series"></canvas>
            </div>
        </div>
    </div>
</div>
